* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

.header {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: white;
}

header a {
    text-decoration: underline;
    color: white;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* HEADER / NAVBAR STYLES END */

/* STYLE ALL SECTION TAGS */
section {
    padding: 50px;
}

/* HERO STYLES START */
.hero {
    background-image: url('./images/earth-in-space.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    height: 20vw;
}

.hero-text {
    text-align: right;
    margin-top: 12%;
    margin-right: 5%;
    color: #fff;
}

.hero h2 {
    font-size: 30px;
    text-align: right;
    color: white;
}

/* HERO STYLES END */


/* about me styles */
.about-me {
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title-div {
    width: 20%;
    margin: 3.5%;
    color: grey;
    display: flex;
    border-right: 5px solid black;

}

.content-div {
    width: 60%;
    margin: 3.5%;
    display: flex;
}



.about-me h2 {
    font-size: 50px;
}

.about-me p {
    color: black;
    font-size: 15px;
}

/* end of about me styles */

/* work styles */

/* .work {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.work h2 {
    color: #024e76;
    font-size: 50px;
    flex: 1 30%;
    border-right: 5px solid black;
}

.work-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.work-img {
    flex: 1 12%;
    margin-right: 20px;
}

.work-img img {
    max-width: 100%;
}

.work-text {
    flex: 12;
}

.work-text h3 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
} */

/* END WORK STYLES */


/* FOOTER STYLES START */
.footer {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer h2 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: white;
}

.footer a {
    text-decoration: underline;
    color: white;
}

.footer div {
    padding-top: 15px;
    font-size: 20px;
}

.footer div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.footer div ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}



/* END FOOTER STYLES */