* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
  }

/* HEADER / NAV BAR STYLES START */

.header {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: white;
}

header a {
    text-decoration: underline;
    color: white;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* HEADER / NAVBAR STYLES END */


.hero {
    background-image: url('./gifs/Gears.gif');
    background-size: auto; 
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
    margin-bottom: 0;
}

.hero h2 {
    font-size: 30px;
    text-align: right;
    margin-top: 100px;
    margin-bottom: 0;
    color: black;
}

.about-me {
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title-div {
    width: 20%;
    margin: 3.5%;
    color: grey;
    display: flex;
}

.content-div {
    width: 60%;
    margin: 3.5%;
    display: flex;
}



.about-me h2 {
    font-size: 50px;
}

.about-me p {
    color: black;
    font-size: 15px;
}





/* FOOTER STYLES START */
.footer {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer h2 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: white;
}

.footer a {
    text-decoration: underline;
    color: white;
}

.footer div {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

.footer div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.footer div ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}



/* END FOOTER STYLES */